<% _.each(get('results'), function(result){ %>
    <div class="result" data-stop-code="<%= result['id'] %>">
        <div class="fake box"></div>

        <div class="box">
            <span class="name">
                <%= window.NB.Utilities.stopTitle(result['stop_code'], result['stop_name']) %>
            </span>

            <div class="numbers">
                <% _.each(result['routes'], function(route){ %>
                    <span class="number route-<%= result['id'].indexOf('go') !== -1 ? 'go-' : '' %><%= window.NB.Utilities.padRouteNumber(route) %>">
                        <%= window.NB.Utilities.padRouteNumber(route) %>
                    </span>
                <% }); %>

                <div style="clear: both"></div>
            </div>

            <img src="/static/img/next.png" class="img-next"/>
        </div>
    </div>
<% }); %>

<% if (!get('results') || get('results').length == 0) { %>
    <h3 class="no-results">
        No results found for <span class="query"><%= queryString() %>.</span>
    </h3>
<% } else { %>
    <div class="end-mark"></div>
<% } %>